data/
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.idea
.turbo

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/e2e/data/