data/
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.idea
.turbo

# Installer outputs
installer/windows/bin/
installer/windows/obj/
installer/windows/CustomActions/bin/
installer/windows/CustomActions/obj/
installer/windows/ServiceWrapper/bin/
installer/windows/ServiceWrapper/obj/
installer/windows/Resources/MaintainerrService.exe
installer/windows/CustomActions.CA.dll
*.msi
*.wixpdb